*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Roboto"; */
}
html , body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    background-color: #F7F6EE;

} 
#nav{
    width: 100%;
    height: 15vh;
    background-color: #F7F6EE;
    padding: 0 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#nav h3{
    text-transform: uppercase;
    font-weight: 400;
    
}
#nav h3 span{
    font-weight: 1000;
}

#nav #links{
    display: flex;
    justify-content: center;
    gap: 20px;

}
#nav a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    font-family: "Playfair";
    color: #232323;
}
#heading{
    width: 100%;
    height: 60vh;
    /* background-color: rgb(255, 221, 177); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#heading p{
    font-size: 18px;
    text-align: center;
    margin: 25px 0px;
    width: 50%;
}

#heading h1{
    font-family: "Playfair";
    font-size: 50px;
    font-weight: 400;
}

#heading button{
    padding: 7px 30px;
    margin: 5px 0px;
    border-radius: 15px;
    background-color: #232323;
    color: aliceblue;

}

#illus{
    width: 100%;
    margin-top: 0%;
    overflow: hidden;
    background-image: url(https://www.snapsound.com/static/img/process-cloud-background.png);
    background-repeat: no-repeat;
    background-size: 85% auto;
    background-position: 115% -0%;
}
#illus img{
    width: 100%;
}

/* #illus svg{
    font-style: italic;
    vertical-align: middle;
    max-width: 100%;
} */

#details{
    width: 100%;
    margin-top: 10px;
    padding: 10vw 5vw;
    display: flex;
    justify-content: space-between;
}
#details #left{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2px;
    width: 40%;
    /* border-right: 2px solid black; */
    
}

#left h1{
    /* border-bottom: 2px solid black; */
    text-align: right;
    
}

#left p{
    width: 40%;
    text-align: right;
    font-size: 15px;
}
#line{
    width: 5%;
    height: 2px;
    background-color: #000;
    margin: 30px 0;
}
#details #right{
    width: 52%;
    border-left: 2px solid black;
    padding-left: 50px;
    
}

#r1, #r2, #r3{
    display: flex;
}

#r2{
    margin: 15px 0px;
}

#text{
    margin-left: 5%;
}

#text p{
    margin-top: 10px;
    font-size: 16px;
    font-family: "Playfair";

    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -.1px;
    width: 100%;
    text-align: left;
    margin-top: 1.2em;
    margin-left: auto;
    
}

#r1 img ,#r2 img,#r3 img{
    width: 4vh;
    height: 4vh;
}

#bird{
    width: 100%;
    align-items: left;
    float:right;
    /* padding-left: 50%;  */
    /* background-image: url(https://www.snapsound.com/static/img/process-bird.svg); */
    position: relative;
    background-repeat: no-repeat;   
    background-color: #F7F6EE;
}


#bird img{
    width: 100%;
    margin-top: 5vw;
    object-position: 300px;
    
} 


/* @media (min-width: 47.5em)
.page-body--process section.service-list {
    background-position: 200% 100%,0 50%;
    background-size: 85% auto,20% auto;
    margin-top: 5vw;
} */

#pr{
    width: 62%;
    height: 60vh;
    /* background-color: rgb(255, 145, 0); */
    display: flex;
    padding-top: 10vh;
    flex-direction: column;
    padding-right: 8vw;
    margin-left: 35%;
}
#pr h1{
    font-family: "Playfair";
    font-size: 50px;
    font-weight: 400;  
}
#pr p{
    font-family: "Playfair";
    font-size: 22px;
    margin: 0px 0px;
    width: 80%;
}

ol{
    width: 90%;
    display: flex;
    list-style-type: none;
    padding-left: 11%;
    justify-content: space-between;
    flex-direction: row;
}

li{
    flex: 3;
    padding: 20px;
    /* border: 1px solid #ccc; */
}

li h2{
    font-size: 23px;
    font-family: "Playfair";
    font-weight: 800; 
    border-top: 3px solid #232323;
    padding: 5% 0%;
}

li p{
    /* border-top: 2px solid rgb(0, 0, 0);
    margin-bottom: 15%;
    padding-bottom: 10%;
    font-size: 15px; */

    font-family: "Playfair";
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -.1px;
    width: 100%;
    text-align: left;
    margin-top: 1.5em;
    margin-left: auto;
    border-bottom: 1px solid #232323;
    padding-bottom: 1.5em;
    
    /* display: block; */
    /* margin-block-start: 1em; */
    /* margin-block-end: 1em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
}

#a{
    border: none;
}

/* #process-list{
        width: 100%;
        margin-top: 10px 10px;
        display: flex;
        padding: 5%;
        justify-content: space-between;
        
} */

/* #process-list #number{
    background-image: url(https://www.snapsound.com/static/img/number3.svg);
    background-repeat: no-repeat;
    height: 50%;
    background-size: 40% 100%;
    
} */

#collage{
    width: 100%;
    
}

#collage img{
    width: 100%;
}

#watch{
    width: 100%;
    display: flex;
    margin-top: 15vw;
    justify-content: flex-start;
}

#watch #wvideo{
    width: 55%;
    margin: 0px;
}

#watch #wvideo img{
    width: 100%;
}

#wvideo button{
    padding: 7px 30px;
    border-radius: 20px;
    border-color: #000000;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin-left:15px;
    font-weight: 500;
    position: relative;
    top: -30%;
    font-size: 20px;
    font-family: "Playfair";
    transition: background-color 0.3s;

    /* left: 50%; */
    /* margin-left: -80px; */
    /* margin-top: 2px; */
    /* padding: 0.8em 1.5em; */

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer; */
}

/* #wvideo button img{
    width: 1vw;
    height: 5vh;
} */

#wvideo button:hover{
    background-color: rgb(56, 56, 56);
    color: #ffffff;
}

#watch #wtext{
    width: 25%;
    margin-left: 50px;
}

#wtext h2{
    font-size: 32px;
    font-family: "Playfair";
    font-weight: 500; 
    border-bottom: 2px solid #232323;
    padding: 0% 0%;   
    padding-bottom: 20px;
}

#wtext p{
    font-family: "Playfair";
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.50;
    letter-spacing: -.5px;
    width: 100%;
    text-align: left;
    margin-top: 20px;
}

#footer{
    width: 100%;
    margin-top: 10%;
    /* background-color: pink; */
}

#image{
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    /* background-color: #000000; */
}
#footer img{
    width: 80%;
    margin: 0px 0%;
    padding: 0px 0px;
    /* background-color: red; */
}

/* #foot-text{
    width: 80%;
    margin-top: 20% 10%;
} */

#foot-text{
    width: 80%;
    margin: 5% 15%;
    display: flex;
    justify-content:space-between;
}

#foot-text #ss{
    width: 25vw;
    margin-bottom: 18%;
    display: flex;
    flex-direction: column;
}

#ss h3{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 17px;
}
#ss h3 span{
    font-weight: 1000;
    font-size: 17px;
}

#ss p{
    font-family: "Playfair";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -.1px;
    width: 100%;
    text-align: left;
    margin-top: 1.2em;
    margin-left: auto;
    /* border-bottom: 1px solid #232323; */
    /* font-size: 15px; */
    /* padding-bottom: 1.5em; */
}

#foot-text #dd{
    width: 10vw;
    display: flex;
    flex-direction: column;
    padding: 0% 0%;
}

#dd h4{
    font-weight: 500;
    font-size: 18px;
}
#dd #links{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.2em;
    
}

#links a{
    font-size: 17px;
    text-decoration: none;
    font-weight: 400;
    font-family: "Playfair";
    color: #232323;
    letter-spacing: -.1px;
    width: 100%;
    text-align: left;
    margin-top: 0.4em;
}

#dd a:hover{
    /* background-color: red; */
    text-decoration: underline;
}
#foot-text #cc{
    width: 25vw;
    display: flex;
    flex-direction: column;
    padding: 0% 0%;
    font-family: "Playfair";
    
}

#cc #contact-n{
    margin-top: 1.2em;
    
}

#cc p{
    font-family: "Playfair";
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -.1px;
    width: 100%;
    text-align: left;
    margin-top: 0.3em;
    font-size: 17px;
    /* font-weight: 800;  */
}
#cc h4{
    font-weight: 500;
    font-size: 18px;
    
}

#cc a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    font-family: "Playfair";
    color: #232323;
    letter-spacing: -.1px;
    width: 100%;
    text-align: left;
    text-decoration: underline;
   
}